form label {
  display: inline-block;
  width: 70%;
  text-align: right;
  padding-bottom: 5px;
}

form input {
  margin-left: 15px;
  width: 75%;
}

.subscribe {
  padding: 10px 0;
  width: 70%;
  margin-bottom: 20px;
}

.subscribe button {
  margin-left: 25%;
  background: orange;
  border: 2px solid black;
  padding: 0px 20px;
}